:root {
  --gradient-pos-x: 50%;
  --gradient-pos-y: 50%;
  --border-radius: 99999px;
  --border-gap: 2px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #121212;
    color: #ffffff;
    height: 1000vh; /* Ensure scrollable content */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.button {
  position: relative;
  display: inline-block;
  border: none;
  border-radius: var(--border-radius);
  background: gray;
  position: relative;
  padding: var(--border-gap);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
}

.content {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 1rem;
  white-space: nowrap;
  color: #ffffff;
  background-color: #0d0d12;
  border-radius: var(--border-radius);
  width: calc(100% - var(--border-gap));
  height: calc(100% - var(--border-gap));
}

.border,
.neon {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  border-radius: var(--border-radius);
}

.neon {
  filter: blur(10px);
  opacity: 0.5;
}

.gradient {
  position: absolute;
  inset: -200px;
  background: conic-gradient(
    from 0deg at var(--gradient-pos-x) var(--gradient-pos-y),
    #1e87ff,
    #5c13c4,
    #ff0033,
    #ffda00,
    #64bc26,
    #1e87ff
  );

  border-radius: var(--border-radius);
  animation: rotate 4s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}






h1.decrypt-text {
    font-family: 'Courier New', monospace;
    font-size: 3em;
    text-align: center;
    color: #ff5733;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid #ff5733; /* Optional cursor effect */
}


